<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
</head>
<body>
<h1>Feedback Form</h1>
<form method="post"
      th:action="${greeting.id == 0} ? @{/greeting} : @{/greeting/{id}(id=${greeting.id})}" th:object="${greeting}">
    <p th:if="${greeting.id != 0}">Id: <input readonly th:field="*{id}" type="text"/></p>
    <input th:field="*{id}" th:if="${greeting.id == 0}" type="hidden"/>
    <p>Message: <input th:field="*{content}" type="text"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>
</body>
</html>